@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300&display=swap");

* {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}

body{
  background-color: #6617cb;
  background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
  color: snow;
}


.section-container {
    width: 100%;
    height: 50px;
    margin-top: 2%;
  }
  
  .overlay-header {
    display: flex;
    position: absolute;
    left: 5%;
    width: 90%;
    color: snow;
    align-items: center;
    text-align: center;
  }
  
  .list-item ul {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    list-style: none;
  }
  
  .list-item a {
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-decoration: none;
  }
  
  .list-item a:hover {
    color: rgb(255, 255, 255);
    font-size: 23px;
  }
  
  .contact{
    color: #000;
    font-size: 20px;
    cursor: pointer;
  }
  
  .contact:hover{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
  }
  
  .services-bg-img{
    width: 95%;
    height: fit-content;
    margin-left: 2.5%;
  }
  
  .services-bg-img img {
    width: 100%;
    aspect-ratio: 21/9;
  }

  .about-container{
    display: flex;
    flex-direction: row;
  }
  
  .about-img{
    margin-left: 5%;
    width: 40%;
  }
  
  .about-img img{
  width: 90%;
  border-radius: 25px;
  margin-left: 5%;
  }  

.sevrices-heading h2{
    text-align: center;
    margin-top: 3%;
}

.sevrices-heading p{
    text-align: center;
}

.services-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 3%;
}

.services-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 3fr 1fr;
    width: 40%;
    gap: 10px;
    margin: 5%;
    margin-top: 0;
    /* margin-bottom: 2%; */
}

.services-img img{
  border-radius: 25px;
  background: #9065e5;
}

.services-img img:hover{
  background: #fff;
}

.services-img h4{
    text-align: center;
}

.services-img button a{
  color: #000;
  text-decoration: none;
}

.services-img .service-button{
    width: 60%;
    height: 100%;
    margin-top: 5%;
    border: none;
    border-radius: 25px;
    background: #b11feb;
    color: #fff;
}

.services-big-image{
    width: 50%;
    margin: 0 0 3 3%;
    padding: 2%;

}

.services-big-image img{
  width: 90%;
  border-radius: 25px;
  transform: scaleX(-1);
}


.footer-row{
    width: 100%;
    margin-left: 0.1px!important;
  }
  
  .form-container{
    margin-left: 10%;
    width: 350px !important;
    display: flex;
    flex-direction: column;
  }
  
  .form-container h2, .form-container p{
    text-align: center;
  }
  
  form{
    margin-left: 5%;
  }
  
  .form-input{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    border: none;
  }
  
  #user-name, #user-email, #user-subject, #user-message{
    width: 100%;
    border: 1px solid snow;
    color: #fff;
  }
  
  .form-button{
    background: #000;
    color: #fff;
    border: none;
    width: 100%;
    height: 45px;
  }
  
  .footer-about-container{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
  }
  
  .footer-about-container h5, .footer-about-container a{
    text-align: center;
  }
  
  .contact-container{
    margin-left: 5%;
    margin-right: 5%;
  } 
  
  .flex-column li u{
    color: snow;
  }